body {
font-family:monospace;
background-color:#141436;
color:#eee;
padding,margin:0;
}
#menubar {
background-color:#0C0C20;
position:fixed;
top:0px;
left:0px;
text-align:center;
font-size:18px;
width:100%;
}
#version {
position:fixed;
color:#ccf;
right:5px;
bottom:5px;
}
.menu-item {
float:left;
display:inline-block;
position:relative;
background-color:#6D6D79;
width:125px;
border-left: 2px solid #0C0C20;
}
.menu-hover {
background-color:#36363C;
}
